<!-- Footer -->
<footer class="py-3 mt-auto">
  <div class="f-info my-2 mt-3">
    <span class="f-info-language">
      <i class="fa-solid fa-globe"></i> English(IN)
    </span>
    <span class="f-info-currency">
      <i class="fa-solid fa-indian-rupee-sign"></i> INR
    </span>
  </div>

  <div class="f-socials">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-x-twitter"></i>
    <i class="fa-brands fa-instagram"></i>
  </div>

  <div class="f-company mb-3">
    <div class="f-company-name">© 2025 LandBNB, Inc.</div>
    <div class="f-company-links">
      <a href="/not-built">Privacy</a>
      <a href="/not-built">Terms</a>
      <a href="/not-built">Sitemap</a>
      <a href="/not-built">Company Details</a>
    </div>
    <div class="f-company-credits mt-2">
      Made with <i class="fa-solid fa-heart" style="color: #fe424d;"></i> by
      <a href="https://www.linkedin.com/in/yshail" target="_blank" class="text-decoration-none credit-link">
        Shailesh Yadav (@yshail)
      </a>
    </div>
  </div>
</footer>