<footer>
  <div class="f-info my-2 mt-3">
    <span class="f-info-language"
      ><i class="fa-solid fa-globe"></i> English(IN)</span
    >
    <span class="f-info-currency"
      ><i class="fa-solid fa-indian-rupee-sign"></i> INR</span
    >
  </div>
  <div class="f-socials">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-x-twitter"></i>
    <i class="fa-brands fa-instagram"></i>
  </div>
  <div class="f-company mb-3">
    <div class="f-company-name">© 2025 LandBNB, Inc.</div>
    <div class="f-company-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
      <a href="/sitemap">Sitemap</a>
      <a href="/companydetails">Company Details</a>
    </div>
  </div>
</footer>
